<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      State updated from Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">State updated from Tab 1 </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="navigateToTab1()">Go to Weather Tab</ion-button>

  @if (weather$ | async; as w) {
  <weather-card [weather]="w"></weather-card>
  }
</ion-content>
